body {
	text-align: center;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-top: 30px;
}
.show {
    display: block;
    text-align: center;
    right: 10px;
    top: 10px;
    position: absolute;
    height: 40px;
    width: 100px;
    background: white;
}
#logout.show {
    border: 1px solid;
    cursor: pointer;
}
#logout.show:hover {
    box-shadow: 2px 2px 0 0 rgba(0,0,0,0.12);
}
.hide {
    display: none;
}
.status {
	position: absolute;
    top: 10px;
    font-size: 12px;
    color: gray;
}
.list {
	line-height: 1.6;
    border: 1px solid #565252;
    max-width: 200px;
    padding: 10px 20px;
    margin: 10px auto;
    position: relative;
    text-align: left;

    text-decoration: none;
    color: black;
    display: block;
}
.list:hover {
    border-color: #DB1C1C;
}
.main {
	max-width: 160px;  
}
.title {
	font-size: 14px;
}
.subtitle {
	font-size: 10px;
	color: gray;
}
.distance {
	color: #DB1C1C;
    display: inline-block;
    position: absolute;
    right: 14px;
    top: 12px;
    font-size: 12px;
    text-align: right;
}